<div *ngIf="restaurantDetails$ | async as restaurant">
  <header class="p-6">
    <div class="relative">
      <img [src]="restaurant.imgUrl" [alt]="restaurant.name"
      class="rounded-xl w-full h-[150px] object-cover"
    >
      <div class="absolute size-24 -bottom-12 left-[50%] -translate-x-1/2">
        <div class="relative size-24">
          <img [src]="restaurant.imgUrl" [alt]="restaurant.name"
            class="size-24 object-cover absolute border-[16px] rounded-full border-white"
          >
          <img src="assets/icons/check.svg" alt="verified"
            class="absolute size-6 bottom-4 right-4 border-4 rounded-full border-white"
          >
        </div>
      </div>
      <like-button [data]="restaurant" (toggleFavorite)="toggleFavourite(restaurant._id, restaurant.type)"/>
      <button class="absolute size-10 bg-white top-2 left-2 rounded-xl text-xl font-bold" routerLink="/home">
        &lt;
      </button>  
    </div>
    <div class="flex flex-col items-center mt-12">
      <h1 class="mb-1 text-xl font-bold">{{restaurant.name}}</h1>
      <address class="mb-2 text-xs text-darkGray">4102  Pretty View Lanenda </address>
      <div class="flex flex-wrap gap-2 mb-2">
        <span
          *ngFor="let categorie of restaurant.categories"
          class="text-[10px] text-darkGray bg-gray-100 p-[5px] rounded-lg font-medium"
        >
          {{ categorie | uppercase }}
        </span>
      </div>
      <delivery-widget [data]="restaurant"/>
      <rating-widget [data]="restaurant" type="page" />
    </div>
  </header>
  <main class="pl-6 pb-6">
    <div>
      <h2 class="text-lg font-semibold mb-4">Featured items 
        <span class="text-xs text-white bg-yellow-300 px-1 py-0.5 rounded-md">{{restaurant.foodItems.length}}</span>
      </h2>
      <div
        class="flex overflow-x-auto space-x-4"
      >
        <app-card class="mb-4 cursor-pointer" *ngFor="let foodItem of sortedFoodItems$ |async"
          [data]="foodItem"
          (favouriteToggled)="toggleFavourite($event.id, $event.type)"
          [routerLink]="['/', routingConstants.FOOD_ITEMS, foodItem._id]"
          >
        </app-card>
      </div>
    </div>
    <div>
      <div class="flex overflow-x-auto space-x-4 mt-8 mb-6 pb-4">
        <button class="py-2 px-4 bg-primary text-white rounded-full">All</button>
        <button class="py-2 px-4 text-[#5B5B5E] border rounded-full">Legends</button>
        <button class="py-2 px-4 text-[#5B5B5E] border rounded-full">Bundles</button>
        <button class="py-2 px-4 text-[#5B5B5E] border rounded-full">Additional Bundles</button>
      </div>
      <div
        class="flex flex-wrap justify-around mr-6"
      >
        <app-secondary-card class="mb-4 cursor-pointer" *ngFor="let foodItem of restaurant.foodItems"
          [data]="foodItem"
          (favouriteToggled)="toggleFavourite($event.id, $event.type)"
          [routerLink]="['/', routingConstants.FOOD_ITEMS, foodItem._id]"
          >
        </app-secondary-card>
      </div>
    </div>
  </main>
</div>
