<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
  <div
    *ngFor="let restaurantCard of restaurantCards"
    class="w-[266px] h-[225px] bg-white rounded-xl overflow-hidden shadow-lg relative"
  >

    <div class="relative">
      <img
        class="w-full h-[136px] rounded-xl object-cover"
        [src]="restaurantCard.image"
        [alt]="restaurantCard.title"
      />
 
      <div
        class="absolute top-2 left-2 bg-white rounded-full px-2 py-1 shadow-md flex items-center"
      >
        <span class="text-xs font-semibold mr-1">
          {{ restaurantCard.rating }} 
        </span>
        <img src="assets/icons/star.svg" alt="stars">
        <span class="ml-0.5 text-[8px] text-[#9796A1] " >
          ({{restaurantCard.reviews}}+)
        </span>
      </div>

      <div class="absolute top-2 right-2">
        <button
          [ngClass]="{
            'w-[28px] h-[28px] flex justify-center items-center rounded-full shadow-md hover:bg-opacity-50 transition': true,
            'bg-[#FE724C] ': restaurantCard.isFavorite,
            'bg-[rgba(255,255,255,0.2)] hover:bg-[#FE724C]': !restaurantCard.isFavorite
          }"
        >
          <img src="assets/icons/heart.svg" alt="like" class="opacity-100 transition">
        </button>
      </div>      
    </div>

    <div class="p-[11px]">
      <div class="flex items-center mb-[8px]">
        <h2 class="text-sm/[0.5rem] font-semibold text-gray-900 mr-1">
          {{ restaurantCard.title }}
        </h2>
        <img src="assets/icons/check.svg" alt="checked">
      </div>

      <div class="text-xs font-medium text-[#515154] mb-[8px] flex items-center">
        <img src="assets/icons/deliveryMan.svg" alt="delivery man">
        <span class="ml-1 mr-2">
          {{ restaurantCard.isFreeDelivery
            ? 'free delivery'
            : '$' + restaurantCard.deliveryPrice + ' delivery' }}
        </span>
        <img src="assets/icons/clock.svg" alt="delivery man">
        <span class="ml-1">
          {{ restaurantCard.timeZone * 10 }}-{{ restaurantCard.timeZone * 15 }} mins</span>
      </div>

      <div class="flex flex-wrap gap-2">
        <span
          *ngFor="let categorie of restaurantCard.categories"
          class="text-[10px] text-[#515154] bg-gray-100 text-gray-700 p-[5px] rounded-lg font-medium"
        >
          {{ categorie | uppercase }}
        </span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
