<header class="flex items-center px-6 py-8 lg:mb-4">
  <nav class="size-10 rounded-lg shadow-md"></nav>
  <button (click)="logout()" class="flex p-2 pr-4 bg-primary rounded-full text-white items-center">
    <img src="assets/icons/logout.svg" alt="logout" class="mr-2">
    Logout
  </button>
  <div class="grow text-center">
    <h3 class="align-center text-base">Deliver to</h3>
    <p class="text-primary">4102  Pretty View Lane</p>
  </div>
  <img src="assets/images/avatar.png" alt="avatar" class="size-10 rounded-lg">
</header>
<main class="mb-8 lg:m-auto lg:mb-2 lg:w-4/5 ">
  <div class="px-6 mb-32 m-auto lg:w-5/6">
    <h1 class="mr-16 mb-4 text-3xl font-bold">
      What would you like to order
    </h1>
    <div></div>
  </div>
  <div></div>
  <div class="pl-6">
    <div class="flex justify-between mr-6 mb-2">
      <h2 class="text-lg">Featured restaurants</h2>
      <button class="text-xs text-primary">View All ></button>
    </div>
    <div 
      *ngIf="(restaurants$ | async) as restaurants"
      class="flex overflow-x-auto space-x-4"
    >
      <app-card class="mb-4" *ngFor="let restaurant of restaurants"
        [data]="restaurant"
        (favouriteToggled)="toggleFavourite($event.id, $event.type)"
        [routerLink]="['/restaurants', restaurant._id]"
        >
      </app-card>
    </div>
  </div>
  <div class="p-6">
    <h2 class="text-lg mb-2">Popular items</h2>
    <div 
      *ngIf="(foodItems$ | async) as foodItems"
      class="flex flex-wrap justify-between"
    >
      <app-secondary-card class="mb-4" *ngFor="let foodItem of foodItems"
        [data]="foodItem"
        (favouriteToggled)="toggleFavourite($event.id, $event.type)"
        [routerLink]="['/food-items', foodItem._id]"
        >
      </app-secondary-card>
    </div>
  </div>
</main>
<footer class="fixed -bottom-1 right-0 left-0 p-4 flex justify-between bg-white z-20 lg:hidden">
  <img src="assets/icons/compass.svg" alt="navigation">
  <img src="assets/icons/location.svg" alt="location">
  <img src="assets/icons/cart.svg" alt="cart">
  <img src="assets/icons/grey-heart-big.svg" alt="favourite">
  <img src="assets/icons/bell.svg" alt="notification">
</footer>
