<div class="card-list grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
  <div *ngIf="(restaurants$ | async) as restaurants; else empty">
    <app-card *ngFor="let restaurant of restaurants"
      [data]="restaurant"
      (favouriteToggled)="toggleFavourite($event.id, $event.type)">
    </app-card>
    <app-secondary-card *ngFor="let restaurant of restaurants"
      [data]="restaurant"
      (favouriteToggled)="toggleFavourite($event.id, $event.type)">
    </app-secondary-card>
  </div>
  <div *ngIf="(foodItems$ | async) as foodItems; else empty">
    <app-card *ngFor="let foodItem of foodItems"
      [data]="foodItem"
      (favouriteToggled)="toggleFavourite($event.id, $event.type)">
    </app-card>
    <app-secondary-card *ngFor="let foodItem of foodItems"
      [data]="foodItem"
      (favouriteToggled)="toggleFavourite($event.id, $event.type)">
    </app-secondary-card>
  </div>
</div>

<ng-template #empty>
  <p>no items yet</p>
</ng-template>